<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <% today = Time.now %>
        <p><%= "The date is #{ today.strftime('%A, %B %-d, %Y') }" %></p>
    </body>
</html>